.button {
    letter-spacing: .05rem;
    background-color: transparent;
    align-items: center;
    border: 2px solid #c53131;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    padding: 7px 12px 7px;
    text-transform: uppercase;
    white-space: nowrap;
    box-sizing: border-box;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 50%;
    /* height: 73.5vh; */
}

.center {
    text-align: center;
}

/* Character description + sheet */
.mainContainer {
    display: flex;
    flex-direction: column;
}

/* Character sheet container */
.characterSheetContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 10px;
    gap: 10px;
}

/* Two halfs of character sheet */
.statsContainer {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    gap: 10px;

    flex-direction: column;
    align-items: center;
}


/* Stats */
.topOfStats {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.notTopOfStats {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* Attributes */
.attributesContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.attributesBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    gap: 5px;
}

.attribute {
    border-radius: 10px;
    border: 2px solid white;
    width: 76px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--background-box-color);
}

.attributeName {
    font-size: 0.6rem;
    text-transform: uppercase;
}

.attributeComp {
    font-size: 1.3rem;
    width: 70%;
    text-align: center;

    --g: 6px;     /* the gap */
    --b: 3px;    /* border thickness*/
    --c: var(--character-page-button-color); /* the color */

    border-radius: 20px;
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
}
.attributeComp:hover {
    --_p: 75%;
    --b: 2px;
    padding: calc(var(--g) + var(--b) + 1px);
    filter: grayscale(0%);
    border-radius: 0px;
}

.attributeValue {
    font-size: 0.70rem;
    text-align: center;
}

/* Skills */
.skillsBox {
    background-color: var(--background-box-color);
    padding-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid white;
    padding-bottom: 10px;
}

.skillsTitle {
    position: absolute;
    font-size: 0.7em;
    bottom: -15px; left: calc(45% - 3px - 2px);
    background: var(--background-box-color);
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    z-index: 2;
}

.skillsTable {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

.skillsTable thead {
    font-size: 0.6em;
}

.skillsTable tbody td:nth-child(1) {
    width: 10px;
    padding: 5px;
    text-align: center;
}

.skillsTable thead td:nth-child(1) {
    width: 15px;
    text-align: left;
}

.skillsTable td:nth-child(2) {
    width: 12px;
    text-align: left;
}

.skillsTable tbody td:nth-child(2) {
    text-transform: uppercase;
    font-size: 0.8em;
}

.skillsTable td:nth-child(3) {
    width: 50%;
    text-align: left;
    /* text-overflow: ellipsis;
    overflow-x: hidden; */
}

.skillsTable tbody td:nth-child(3) {
    border-bottom: 1px solid grey;
}

.skillsTable thead td:nth-child(4) {
    text-align: center;
    width: 20px;
}

.skillsTable tbody td:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillsTable tbody td:nth-child(4) p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 3em;
    height: 40px;

    --g: 5px;
    --b: 3px;
    --c: var(--character-page-button-color);

    border-radius: 20px;
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
}

.skillsTable tbody td:nth-child(4) p:hover {
    --_p: 75%;
    --b: 2px;
    padding: calc(var(--g) + var(--b) + 1px);
    filter: grayscale(0%);
    border-radius: 0px;
}

/* Character Card */
.characterCardBox {
    height: 210px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;

    padding-bottom: 25px;
    border: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: var(--background-box-color);
}

.characterCardTitle {
    position: absolute;
    font-size: 0.7em;
    bottom: -15px; left: calc(50% - 48px);
    background: var(--background-box-color);
    border: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    z-index: 2;
}

.characterCardTable {
    padding: 5px 0px;
    table-layout: auto;
    width: 100%;
    height: 100%;
    border-spacing: 10px;
}

.tableRow td:first-child {
    border-right: 1px solid grey;
    width: 70px;
    text-align: center;
    padding-right: 5px;
}

.hpRow {
    display: flex;
    justify-content: center;
    gap: 5px;

    width: 100%;
    height: 100%;
}

.hpBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;

    width: 100%;
    height: 100%;
}

.health {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.hp {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 84%;
    height: 84%;
    --corner: 0.7em;
    --bg: radial-gradient(rgb(199, 49, 49), var(--background-box-color) 70%);
    border: var(--corner) solid;
    border-image-source: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" fill="rgb(45, 45, 45)"><path d="M3 0h1a.5.5 0 0 1 0 1c0 1.1.9 2 2 2a.5.5 0 0 1 1 0v1a.5.5 0 0 1-1 0 2 2 0 0 0-2 2 .5.5 0 0 1 0 1H3a.5.5 0 0 1 0-1 2 2 0 0 0-2-2 .5.5 0 0 1-1 0V3a.5.5 0 0 1 1 0 2 2 0 0 0 2-2 .5.5 0 0 1 0-1Z" /></svg>');
    border-image-slice: 3 fill;
}

.hp span {
    font-size: 1.5em;
}

.hpValue {
    width: 60px;
    padding: 5px;
    font-size: 1.5em;
    text-align: center;
    background: transparent;
    border: none;
}

.hpValue:focus {
    padding: 4px;
    border: 1px solid white;
    border-radius: 10px;
}

.rest {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    height: 100%;
    font-weight: 500;
}

.hvrFadeWhite {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvrFadeWhite:hover, .hvrFadeWhite:active {
    background-color: rgb(45, 45, 45);
    color:white
}

/* Vital Values */
.vitalValuesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
}

.vitalValuesBox {
    padding: 7px;
    border-radius: 5px;
    border: 2px solid white;
    height: 75px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    flex-basis: 48%;
    gap: 5px;
    background-color: rgb(45, 45, 45);
}

.vitalValuesName {
    font-size: 0.8em;
}

.vitalValues {
    font-size: 1.5em;
    font-family: 'Times New Roman', serif;
    height: 70%;
}

.init {
    text-align: center;
    justify-content: none;
    width: 1.5em;

    --g: 2px;
    --b: 3px;
    --c: var(--character-page-button-color);

    border-radius: 20px;
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
}
.init:hover {
    --_p: 75%;
    --g: 3px;
    --b: 2px;
    filter: grayscale(0%);
    border-radius: 0px;
}

/* Saving Throws */
.savingThrowsBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 15px 5px 25px;
    border: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: var(--background-box-color);

    row-gap: 10px;
}

.savingThrowsTitle {
    position: absolute;
    font-size: 0.7em;
    bottom: -15px; left: calc(50% - 45px);
    background: var(--background-box-color);
    border: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    z-index: 2;
}

.savingThrows {
    /* display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 5px; */
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.savingThrows {
    flex: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.savingThrows span:nth-child(1) {
    vertical-align: bottom;
    text-align: center;
    width: 25px;
}

.savingThrows span:nth-child(2) {
    font-size: 0.8em;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    /* width: 70%; */
}

.savingThrows span:nth-child(3) {
    text-align: center;

    width: 46px;

    --g: 6px;
    --b: 3px;
    --c: var(--character-page-button-color);

    border-radius: 20px;
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
}
.savingThrows span:nth-child(3):hover {
    --_p: 75%;
    --b: 2px;
    padding: calc(var(--g) + var(--b) + 1px);
    filter: grayscale(0%);
    border-radius: 0px;
}

/* Senses */
.sensesBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: var(--background-box-color);
    
    padding: 10px;
    border: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 25px;
}

.sensesTitle {
    position: absolute;
    font-size: 0.7em;
    bottom: -15px; left: calc(50% - 25px);
    background: var(--background-box-color);
    border: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    z-index: 2;
}

.sensesBox > div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    width: 100%;
    height: 50px;
}

.senseProf {
    flex-basis: 3em;
    text-align: right;
}

.senseProf {
    text-align: center;

    width: 3em;

    --g: 8px;
    --b: 3px;
    --c: var(--character-page-button-color);

    border-radius: 20px;
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
}
.senseProf:hover {
    --_p: 75%;
    --b: 2px;
    padding: calc(var(--g) + var(--b) + 1px);
    filter: grayscale(0%);
    border-radius: 0px;
}

.senseName {
    flex-basis: 85%;
    text-align: center;
}

/* INTERACTIVE */
.interactiveContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-basis: 48%;
    flex-grow: 1;

    height: auto;

    gap: 30px;
    /* padding: 0px 5px; */
}

.workstationContainer {
    /* flex-basis: 60%; */
    
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg,
        rgb(27, 27, 27, 0) 20%, 
        rgb(255, 61, 61) 100%
    );
    border-radius: 20px;
    padding: 0px 10px 10px 10px;
}

.wrapper {
    background-color: var(--background-box-color);
    border-radius: 15px;
    padding: 10px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 100%;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.navButtonBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid #db3434; */
    border: 3px solid transparent;
    border-radius: 50%;
    transition: 0.5s;
    padding: 10px;
}

.navButton:hover,
.navButton:focus {
  background-color: rgb(45, 45, 45);

  cursor: pointer;
}

.navIcons {
    cursor: pointer;
    filter: invert(15%) sepia(91%) saturate(6555%) hue-rotate(1deg) brightness(112%) contrast(119%);
}

.combat {
    transform: scale(1.1);
}

.features {
    transform: scale(0.9);
}

.equipment {
    transform: scale(1.3);
}

.background {
    transform: scale(0.9);
}