.col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 50%;
}

.center {
    text-align: center;
}

/* Character description + sheet */
.mainContainer {
    display: flex;
    flex-direction: column;
}

/* Character sheet container */
.characterSheetContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 20px;
}

/* Two halfs of character sheet */
.statsContainer {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    gap: 10px;

    flex-direction: column;
    align-items: center;
}

.interactiveContainer {
    display: flex;
    flex-basis: 48%;
    flex-grow: 1;
    justify-content: center;
}


/* Stats */

.topOfStats {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.notTopOfStats {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Attributes */
.attributesContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.attributesBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    gap: 10px;
}

.attribute {
    border-radius: 10px;
    border: 2px solid white;
    width: 76px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #181818;
}

.attributeName {
    font-size: 0.6rem;
    text-transform: uppercase;
}

.attributeComp {
    font-size: 1.3rem;
    width: 70%;
    text-align: center;

    --g: 6px;     /* the gap */
    --b: 3px;    /* border thickness*/
    --c: var(--character-page-button-color); /* the color */

    border-radius: 20px;
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
}
.attributeComp:hover {
    --_p: 75%;
    --b: 2px;
    padding: calc(var(--g) + var(--b) + 1px);
    filter: grayscale(0%);
    border-radius: 0px;
}

.attributeValue {
    font-size: 0.70rem;
    text-align: center;
}

/* Skills */
.skillsContainer {
    background-color: #181818;
}

.skillsBox {
    position: relative;
}

.skillsTitle {
    position: absolute;
    font-size: 0.7em;
    bottom: -15px; left: calc(45% - 3px - 2px);
    background: #181818;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    z-index: 2;
}

.skillsTable {
    table-layout: fixed;
    width: 100%;
    padding-top: 5px;
    border-collapse: separate;
    border-spacing: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid white;
    padding-bottom: 10px;
}

.skillsTable thead {
    font-size: 0.6em;
}

.skillsTable tbody td:nth-child(1) {
    width: 10px;
    padding: 5px;
    text-align: center;
}

.skillsTable thead td:nth-child(1) {
    width: 15px;
    text-align: left;
}

.skillsTable td:nth-child(2) {
    width: 20px;
    text-align: left;
}

.skillsTable tbody td:nth-child(2) {
    text-transform: uppercase;
    font-size: 0.8em;
}

.skillsTable td:nth-child(3) {
    width: 50%;
    text-align: left;
}

.skillsTable tbody td:nth-child(3) {
    border-bottom: 1px solid grey;
}

.skillsTable thead td:nth-child(4) {
    text-align: center;
    width: 20px;
}

.skillsTable tbody td:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillsTable tbody td:nth-child(4) p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 3em;
    height: 40px;

    --g: 5px;
    --b: 3px;    /* border thickness*/
    --c: var(--character-page-button-color); /* the color */

    border-radius: 20px;
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
}

.skillsTable tbody td:nth-child(4) p:hover {
    --_p: 75%;
    --b: 2px;
    padding: calc(var(--g) + var(--b) + 1px);
    filter: grayscale(0%);
    border-radius: 0px;
}

/* .skillsBox {
    
}

.skill {
    
} */

/* Vital Values */
.vitalValuesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: #181818;
}

.vitalValuesBox {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid white;
    height: 75px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', serif;
    word-wrap: break-word;
}

.vitalValuesName {
    font-size: 0.8em;
}

.vitalValues {
    font-size: 1.5em;
}

.init {
    text-align: center;
    justify-content: none;
    width: 1.5em;

    --g: 2px;     /* the gap */
    --b: 3px;    /* border thickness*/
    --c: var(--character-page-button-color); /* the color */

    border-radius: 20px;
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
}
.init:hover {
    --_p: 75%;
    --g: 3px;
    --b: 2px;
    filter: grayscale(0%);
    border-radius: 0px;
}

/* Saving Throws */
.savingThrowsContainer {
    display: flex;
    flex-direction: column;
}

.savingThrowsBox {
    padding: 10px;
    padding-bottom: 25px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
    background-color: #181818;
    position: relative;
}

.savingThrowsTitle {
    position: absolute;
    font-size: 0.7em;
    bottom: -15px; left: calc(50% - 45px);
    background: #181818;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    z-index: 2;
}

.savingThrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    
}

.savingThrows span:nth-child(1) {
    vertical-align: bottom;
    text-align: center;
    width: 25px;
}

.savingThrows span:nth-child(2) {
    font-size: 0.8em;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
    /* min-width: 80px; */
}

.savingThrows span:nth-child(3) {
    text-align: center;

    width: 3em;

    --g: 6px;     /* the gap */
    --b: 3px;    /* border thickness*/
    --c: var(--character-page-button-color); /* the color */

    border-radius: 20px;
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
}
.savingThrows span:nth-child(3):hover {
    --_p: 75%;
    --b: 2px;
    filter: grayscale(0%);
    border-radius: 0px;
}

/* Senses */
/* .sensesContainer {
    
} */

.sensesBox {
    padding: 10px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: #181818;
    position: relative;
    padding-bottom: 10px;
}

.sensesTitle {
    position: absolute;
    font-size: 0.7em;
    bottom: -15px; left: calc(50% - 25px);
    background: #181818;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    z-index: 2;
}

.sensesBox > div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    width: 100%;
    height: 50px;
}

.senseProf {
    flex-basis: 10%;
    text-align: center;
}

.senseProf {
    text-align: center;

    width: 3em;

    --g: 6px;     /* the gap */
    --b: 3px;    /* border thickness*/
    --c: var(--character-page-button-color); /* the color */

    border-radius: 20px;
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
}
.senseProf:hover {
    --_p: 75%;
    --b: 2px;
    filter: grayscale(0%);
    border-radius: 0px;
}

.senseName {
    flex-basis: 85%;
    text-align: center;
}

/* TABLET LAYOUT */