.col {
    display: flex;
    flex-direction: column;
}

/* Character description + sheet */
.mainContainer {
    display: flex;
    flex-direction: column;
}

/* Character sheet container */
.characterSheetContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Two halfs of character sheet */
.statsContainer {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;

    flex-direction: column;
}

.interactiveContainer {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
}


/* Stats */

.topOfStats {
    display: flex;
    flex-direction: row;
}

.notTopOfStats {
    display: flex;
    flex-direction: row;
}

/* Attributes */
.attributesContainer {
    display: flex;
    flex-direction: row;
}

.attributesBox {
    display: flex;
    flex-direction: row;
}

.attribute {
    border-radius: 10px;
    border: 2px solid white;
    width: 100px;
}

.attributeName {
    font-size: 0.60rem;
    text-transform: uppercase;
}

.attributeComp {
    font-size: 1.3rem;
}

.attributeValue {
    font-size: 0.70rem;
}

/* Skills */
.skillsContainer {
    display: flex;
    flex-direction: column;
}

/* .skillsBox {
    display: flex;
    flex-direction: column;
} */

/* Vital Values */
.vitalValuesContainer {
    display: flex;
    flex-direction: column;
}

/* .vitalValuesBox {
    display: flex;
    flex-direction: column;
} */

/* Saving Throws */
.savingThrowsContainer {
    display: flex;
    flex-direction: column;
}

/* .savingThrowsBox {
    display: flex;
    flex-direction: column;
} */

/* Senses */
.sensesContainer {
    display: flex;
    flex-direction: column;
}

/* .sensesBox {
    display: flex;
    flex-direction: column;
} */



.box {
    height: 200px;
    width: 300px;
    position: relative;
}

.box__line {
    position: absolute;
    background: white;
}
.box__line--top, .box__line--bottom {
    height: 8px;
    width: 100%;
}
.box__line--top::before, .box__line--top::after, .box__line--bottom::before, .box__line--bottom::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: white;
}
.box__line--top {
    top: -8px;
}
.box__line--top::before {
    left: 0;
    bottom: -8px;
}
.box__line--top::after {
    right: 0;
    bottom: -8px;
}
.box__line--bottom {
    bottom: -8px;
}
.box__line--bottom::before {
    left: 0;
    top: -8px;
}
.box__line--bottom::after {
    right: 0;
    top: -8px;
}
.box__line--left, .box__line--right {
    width: 8px;
    height: 100%;
}
.box__line--left {
    left: -8px;
}
.box__line--right {
    right: -8px;
}