.showcase {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.showcase h1 {
    font-size: 50px;
    line-height: 1.2;
}

.showcase p {
    font-size: 20px;
}

.ch {
    text-shadow: var(--random-color) -5px 0 20px;
}

.ar {
    text-shadow: white 0px 0px 20px;
}

.mory {
    text-shadow: var(--opposite-random-color) 5px 0 20px;
}

.hvrFade {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvrFade:hover, .hvrFade:focus, .hvrFade:active {
    background-color: var(--secondary-color);
    color:white
}

/* Nav bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navLinks {
    list-style: none;
    display: flex;
}

/* Mobile first queries */

/* Larger than mobile */
@media (max-width: 500px) {
    .nav {
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: space-evenly;
    }
    .nav div:first-child {
        flex-basis: 100%;
    }
}