.char {
    text-shadow: var(--random-color) 0 0 20px;
}

.rendererBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 0px 20px;
}

.col {
    display: flex;
    flex-direction: column;
}

.displayContainer {
    flex-basis: 40%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.displayContainer div {
    margin-left: auto;
    margin-right: auto;
}

.displayInformation {
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayButtons div {
    width: 100%;
}

.displayButtons button {
    width: 100%;
    height: 50px;

    gap: 10px;
    padding: 10px 30px;

    display: inline-block;
    
    color: white;
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    
    background-color: var(--background-box-color);
    border-radius: 3px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.displayButtons hr {
    flex-grow: 1;
    width: 100%;
    border-color: grey;
}

.workstationContainer {
    flex-basis: 60%;
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    height: 80vh;

    background: linear-gradient(180deg,
        rgb(27, 27, 27, 0) 20%, 
        rgb(255, 61, 61) 100%
    );
    border-radius: 20px;
    padding: 10px;
}

.wrapper {
    background-color: var(--background-box-color);
    border-radius: 15px;
    padding: 10px;
    height: 100%;
}

.workstationContainer div {
    width: 100%;
}

.title {
    margin-left: auto;
    margin-right: auto;
}

.hvrFadeWhite {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvrFadeWhite:hover, .hvrFadeWhite:active {
    background-color: grey;
    color:white
}