.ch {
    text-shadow: var(--random-color) -5px 0 20px;
}

.ar {
    text-shadow: white 0px 0px 20px;
}

.mory {
    text-shadow: var(--opposite-random-color) 5px 0 20px;
}

.name {
    width: 100%;
}

.name input {
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    background: none rgb(190, 190, 190);
    border: 2px solid rgb(136, 136, 136);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    color: rgb(0, 0, 0);
    transition: border 0.05s linear 0s, box-shadow 0.05s linear 0s;
}

.name input:focus {
    border: 2px solid var(--secondary-color);
}

.rendererBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 0px 20px;
}

.col {
    display: flex;
    flex-direction: column;
}

.displayContainer {
    flex-basis: 40%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.displayInformation {
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayButtons div {
    width: 100%;
}

.displayButtons div h2 {
    margin-bottom: 5px;
}

.displayButtons button {
    width: 100%;
    height: 50px;

    gap: 10px;
    padding: 10px 30px;

    display: inline-block;
    
    color: white;
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    
    background-color: var(--background-box-color);
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
}

.displayButtonSelected {
    border: 1px solid #21da39;
}

.displayButtonUnselected {
    border: 1px solid #bbb;
}

.displayButtons hr {
    flex-grow: 1;
    width: 100%;
    border-color: grey;
}

.workstationContainer {
    flex-basis: 60%;
    
    height: 100%;

    background: linear-gradient(180deg,
        rgb(27, 27, 27, 0) 20%, 
        rgb(255, 61, 61) 100%
    );
    border-radius: 20px;
    padding: 0px 10px 10px 10px;
}

.wrapper {
    background-color: var(--background-box-color);
    border-radius: 15px;
    padding: 10px 10px 17px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 75vh;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.hvrFadeWhite {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvrFadeWhite:hover, .hvrFadeWhite:active {
    background-color: grey;
    color:white;
}