.showcase {
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 90vw;
    /* background: linear-gradient(0deg,
        #1b1b1b 90%, 
        rgb(255, 61, 61) 100%
    ); */
    background: linear-gradient(180deg,
        rgb(27, 27, 27, 0) 20%, 
        rgb(255, 61, 61) 100%
    );
    border-radius: 20px;
    padding: 10px;
}

.wrapper {
    background-color: #282828;
    border-radius: 15px;
    padding: 10px;
}

.headerWrapper {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.characterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.characterBox {
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: #3f3f3f;
    flex-basis: 33.333333%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.characterBox div:last-child {
    margin-top: auto;
}

.subInfo {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.characterOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.characterOptions button {
    padding: 0;
    min-width: 100px;
}


/* MEDIA */

@media (max-width: 420px) {
    .characterOptions button {
        padding: 0;
        min-width: 80px;
    }
}

@media (max-width: 790px) {
    .characterBox {
        flex-basis: 100%;
    }
}

@media (max-width: 1150px) and (min-width: 790px) {
    .characterContainer {
        justify-content: space-between;
        gap: 0px;
    }
    .characterBox {
        flex-basis: 49.5%;
    }
}


/* FADES */

.greenFade {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
}

.greenFade:hover, .greenFade:focus, .greenFade:active {
    background-color: rgb(66, 202, 48);
    border-color: rgb(66, 202, 48);
    color:white
}

.yellowFade {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
}

.yellowFade:hover, .yellowFade:focus, .yellowFade:active {
    background-color: rgb(202, 192, 48);
    border-color: rgb(202, 192, 48);
    color:white
}

.redFade {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
}

.redFade:hover, .redFade:focus, .redFade:active {
    background-color: rgb(202, 48, 48);
    border-color: rgb(202, 48, 48);
    color:white
}