.button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: white;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.armory {
    text-shadow: var(--opposite-random-color) 0 0 20px;
}

.showcase {
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 90vw;
    background: linear-gradient(180deg,
        rgb(27, 27, 27, 0) 20%, 
        rgb(255, 61, 61) 100%
    );
    border-radius: 20px;
    padding: 10px;
}

.wrapper {
    background-color: var(--background-box-color);
    border-radius: 15px;
    padding: 1px 10px 10px;
}

.headerWrapper {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.headerWrapper > * {
    text-wrap: nowrap;
    padding: 5px;
}

.characterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.characterBox {
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: #303030;
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.characterBox div:last-child {
    margin-top: auto;
}

.subInfo {
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: #c2c2c2; /* Adjust the color as needed */
    margin-top: 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.subInfo span {
    flex: 1 1 auto;
    position: relative;
    text-align: center;
    padding: 10px 0px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.subInfo span:first-child, .subInfo span:nth-child(2) {
    width: calc(100% - 10px);
}

.subInfo span:nth-child(2), .subInfo span:nth-child(3) {
    padding-left: 5px;
}

.subInfo span + span::before {
    content: '';
    display: block;
    position: absolute;
    height: 50%;
    left: 0;
    top: 25%;
    border-left: 2px solid #FC3D3D;
}

/** Optional for OPs exact layout */

.characterOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    
}

.characterOptions a {
    flex-grow: 1;
}

.characterOptions button {
    padding: 0;
    min-width: 100px;
    width: 100%;
}

.cardBox h2{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* MEDIA */

@media (max-width: 900px) and (min-width: 612px) {
    .characterBox {
        flex-basis: 49%;
    }
}

@media (max-width: 612px) {
    .characterBox {
        flex-basis: 100%;
    }
}


/* FADES */

.greenFade {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
}

.greenFade:hover, .greenFade:active {
    background-color: rgb(66, 202, 48);
    border-color: rgb(66, 202, 48);
    color:white
}

.yellowFade {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
}

.yellowFade:hover, .yellowFade:active {
    background-color: rgb(202, 192, 48);
    border-color: rgb(202, 192, 48);
    color:white
}

.redFade {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
}

.redFade:hover, .redFade:active {
    background-color: rgb(202, 48, 48);
    border-color: rgb(202, 48, 48);
    color:white
}