.showcase {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 70vw;
}

.characterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.characterBox {
    border: 1px solid black;
}

.characterOptions {
    display: flex;
    gap: 5px;
}