.contentContainer {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    
    width: 100%;
    height: 100%;
}

.workstationTitle {
    text-decoration: underline rgb(170, 41, 41);
    margin-bottom: 20px;
    font-size: 1.7rem;
}

.inputUl {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    
    height: 100%;
    width: 100%;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inputLi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    
    width: 99%;
}

.inputBox {
    padding: 15px 20px;
    width: 100%;
    height: 100%;
}

.inputVariants {
    padding: 15px 20px;
    width: 100%;
}

.inputSpan {
    padding: 15px 20px;
    height: 100%;
    width: 100%;
}

.listHeading {
    
}

.raceName {
    width: 100%;
}

.dropDownArrow {
    float: right;
    width: 0; 
    height: 0; 
}

.dropDownDArrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    
    border-top: 15px solid rgb(255, 255, 255);
}

.dropDownRArrow {
    border-right: none;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    
    border-left: 15px solid rgb(255, 255, 255);
}

.raceDescription {
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    color: rgb(211, 211, 211);
}

.inputMain {
    background: 10px #303030 url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/icons/search-grey.svg) no-repeat;
    background-size: 15px;
    
    padding: 10px 10px 10px 35px;
    width: 100%;

    border: 1px solid grey;
    border-radius: 3px;

    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;

    margin-bottom: 15px; 

    font-size: 0.9rem;
}

.classBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.inputValues {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    overflow-y: auto;
}

.classListValues {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
    width: 99%;
    height: 60px;
    border-radius: 3px;
}

.abilityBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.abilityBox hr {
    flex-grow: 1;
    width: 100%;
    border-color: grey;
}

.manualInputBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.manualInput {
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    background: none rgb(170, 170, 170);
    border: 2px solid rgb(136, 136, 136);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    color: rgb(0, 0, 0);
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.manualInput:focus {
    border: 2px solid var(--particle-color);
}

.ability {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 70px;
    height: 90px;
    border: 1px solid grey;
}

.selectGenMethod {
    position: relative;
    
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.selectGenMethod select::-ms-expand {
    display: none;
}

.selectGenMethod:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;

    top: 17px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;

    position: absolute;
    pointer-events: none;
}

.selectGenMethod select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    width: 100%;
    max-width: 350px;
    height: 47px;
    float: right;
    margin: 5px 0px;
    padding: 0px 15px;
    font-size: 16px;
    line-height: 1.75;
    color: white;
    background-color: rgb(182, 44, 44);
    background-image: none;
    border: 1px solid grey;
    -ms-word-break: normal;
    word-break: normal;
}

.selectGenMethod select:focus > .selectGenMethod option:checked { 
    background: #000 !important;
}

.selectGenMethod select:focus {
    outline: none;
}

.selectBackgroundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectBackgroundContainer h2 {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.selectWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.selectWrapper button {
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    background-color: rgb(182, 41, 41);
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1.1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.selectWrapper button:hover {
    background-color: rgb(218, 53, 53);
}

.selectWrapper button:active {
    background-color: rgb(150, 33, 33); /* Adjust the color as needed */
}

.selectWrapper button img {
    filter: brightness(0) invert(1);
    margin-top: 4px;
    margin-left: 4px;
}

.selectBackground {
    position: relative;
    width: 270px;
}

.selectBackground select::-ms-expand {
    display: none;
}

.selectBackground:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;

    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;

    position: absolute;
    pointer-events: none;
}

.selectBackground select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    width: 100%;
    max-width: 350px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 15px;
    font-size: 16px;
    line-height: 1.75;
    color: white;
    border: 1px solid grey;
    background-color: rgb(182, 44, 44);
    -ms-word-break: normal;
    word-break: normal;
    cursor: pointer;
}

.selectBackground option { 
    cursor: pointer;
}

.selectBackground select:focus {
    outline: none;
}

.backgroundBox {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    white-space: pre-line;
    line-height: 1.5;
}

.explanation {
    background-color: #272727;
    padding: 10px;
    border-radius: 5px;
    color: rgb(235, 235, 235);
}

.featuresBox {
    
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modalContent {
  background-color: var(--background-box-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.modal h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 20px;
}

.modal button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}