.contentContainer {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    
    width: 100%;
    height: 100%;
}

.workstationTitle {
    text-decoration: underline rgb(170, 41, 41);
    margin-bottom: 20px;
}

.inputUl {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inputLi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 40px; */
    padding: 15px 20px;
    background-color: #303030;
}

.inputMain {
    background: 10px #303030 url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/icons/search-grey.svg) no-repeat;
    background-size: 15px;
    
    padding: 10px 10px 10px 35px;
    width: 100%;

    border: 1px solid grey;
    border-radius: 3px;

    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;

    margin: 10px 0px;
}

.classBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.inputValues {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    overflow-y: auto;
}

.classListValues {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    border-radius: 3px;
}

.abilityBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.ability {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid grey;
}

.selectGenMethod {
    position: relative;
    
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.selectGenMethod select::-ms-expand {
    display: none;
}

.selectGenMethod:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;

    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;

    position: absolute;
    pointer-events: none;
}

.selectGenMethod select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    width: 100%;
    max-width: 350px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 10px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: white;
    /* background-color: rgb(182, 44, 44); */
    background-image: none;
    border: 1px solid grey;
    -ms-word-break: normal;
    word-break: normal;
}

.selectGenMethod select:focus > .selectGenMethod option:checked { 
    background: #000 !important;
}

.selectGenMethod select:focus {
    outline: none;
}

.selectBackgroundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.selectBackgroundContainer h2 {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.selectBackground {
    position: relative;
    
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.selectBackground select::-ms-expand {
    display: none;
}

.selectBackground:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: white;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;

    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;

    position: absolute;
    pointer-events: none;
}

.selectBackground select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    width: 100%;
    max-width: 350px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 10px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: white;
    background-image: none;
    border: 1px solid grey;
    -ms-word-break: normal;
    word-break: normal;
}

.selectBackground select:focus > .selectBackground option:checked { 
    background: #000 !important;
}

.selectBackground select:focus {
    outline: none;
}